
@import './about-style.css';
@import './form-style.css';


.container {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    margin: 5px;
}


.book-list li {
    display: inline-block;
    background-color: rgb(126, 151, 151);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: rgb(177, 223, 12) 2px solid;
    height: 300px;
    width: 350px;
    text-align: center;
}

.img-prev {
    height: 50%;
    width: 30%;
    border: black 2px solid;
}

.book-details {
    display: inline-block;
    background-color: rgb(10, 172, 172);
    margin: 4px;
    padding: 2%;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    margin: 5%;
    border: blue solid 2px;
    /* position: absolute; */
}

.book-details h2 {
    color: yellow;
    font-size: 1.2rem;
}

.price-high {
    color: red;
}

.price-low {
    color: green;
}